<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<div class="color_texto tamano_16pt" padding-left>
	<strong>Filtrar por:</strong>
</div>
<div>
<div class="color_texto tamano_12pt" padding-left>
	<strong>Precio</strong>
</div>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="number" placeholder="Desde" class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="number" placeholder="Hasta" class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>	
					<div class="color_texto tamano_12pt" padding-left>
						<strong>Ubicación</strong>
					</div>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Agregar ubicación" class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
						<ion-row>
							<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Tipo de inmueble</strong>
							</div>
							</ion-col>
						</ion-row>
					<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">	
						<ion-select class="input-gris_inmueble selectWrapper" placeholder="Selecciona una opción" >
						</ion-select>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Número" class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>	
							<div class="tamano_12pt color_texto">
								Cap Personas
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col >
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Mts..." class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>	
							<div class="tamano_12pt color_texto">
								Terreno
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
					<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Mts..." class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>	
							<div class="tamano_12pt color_texto">
								Construido
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
					<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Número..." class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>
							<div class="tamano_12pt color_texto">
								Recamaras
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
					<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Número..." class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>
							<div class="tamano_12pt color_texto">
								Baños
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
					<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-input type="text" placeholder="Número..." class="input_registro_2"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col padding>
						<ion-item no-lines>
							<div class="tamano_12pt color_texto">
								Cochera(s)
							</div>
						</ion-item>
					</ion-col>
				</ion-row>
						<ion-grid>
							<ion-row>
								<ion-col></ion-col>
								<ion-col><button ion-button round color="azul_claro" block>Buscar</button></ion-col>
								<ion-col></ion-col>
							</ion-row>
					</ion-grid>
		</ion-grid>
</div>
</ion-content>
