<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<br>
<div class="color_texto tamano_16pt" padding-left text-wrap>
	<strong>Para poder publicar una propiedad debes Escoger un plan de beneficios</strong>
</div>
<div padding>
	<div *ngFor="let item of listado_publicacion" (click)="get_membresia_seleccionada(item)">
		<ion-card padding-left>
			<ion-grid>
				<ion-row>
					<ion-col>
						<div class="color_azul_claro tamano_12pt">
						<strong>{{item.descripcion}}</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col><ion-icon name="custom-check" color="azul_oscuro"></ion-icon>{{item.dias}} Días</ion-col>
				</ion-row>
			</ion-grid>
			<div align="right">
				<div class="color_degradado texto_blanco tamano_12pt tamano_cuadro_degradado" align="center" >
					<div class="texto_medio">
						<strong>${{(item.precio*1).toFixed(2)}} MXN</strong>
					</div>
				</div>
			</div>
		</ion-card>
	</div>
</div>
</ion-content>
