page-propiedad-guardada {
	.imagen_felicitacion{
		margin-top:10vw;
	}
	/*
.imagen_felicitacion{
	margin-top:46%;
  margin-left: 10%;
}
@media screen and (width: 360px){
	.imagen_felicitacion{
		margin-top:63%;
  	margin-left: 10%;
	}
}
@media screen and (width: 412px){
	.imagen_felicitacion{
		margin-top:74%;
  	margin-left: 10%;
	}
}
*/
}
