<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
	</ion-navbar>
</ion-header>
<ion-content>
<br>
<div padding-left>
	<div class="color_azul_oscuro tamano_16pt ">
	<strong>Felicidades</strong>
</div>
<div class="color_texto tamano_14pt">
	La propiedad se guardó correctamente.
</div>
</div>
<div>
	<ion-grid>
		<ion-row>
			<ion-col col-4></ion-col>
			<ion-col col-4><button ion-button block (click)="home()">Home</button></ion-col>
			<ion-col col-4></ion-col>
		</ion-row>
	</ion-grid>
</div>
<div >
	<img src="assets/imgs/imagen_felicitacion.svg" class="imagen_felicitacion">
</div>
</ion-content>
