<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Preguntas frecuentes</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
<div>	
		<div class="tamano_18pt text-gray">
			<h6 class="ml-12 text-bold">Preguntas frecuentes</h6>
		</div>
		<div *ngFor="let item of preguntas_frecuentes">
		<ion-card padding class="acordeon">
		  	<div class="tamano_16pt text-gray" padding-horizontal>
		      <h4 class="text-gray text-bold">{{item.pregunta}}</h4>
		      <p class="text-gray"> {{item.respuesta}}</p>
		  	</div>
	  </ion-card>
	</div>
		<br>
	</div>
</ion-content>
