<ion-content padding class="fondo_principal">
	<br>
	<br>
<div align="center">
	<img src="assets/imgs/logo.svg" alt="" class="imagen_login">
</div>
<br>
<br>
<div padding>
	<div class="texto_blanco tamano_18pt" padding>
		<strong>Hola</strong>
		<div class="texto_blanco tamano_16pt">
			Ingresa tus datos
		</div>
	</div>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item class="input-login">
							<ion-input type="text" placeholder="Email"  [(ngModel)]="data_usuario.username"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item class="input-login">
							<ion-input type="password" placeholder="Contraseña" [(ngModel)]="data_usuario.password"></ion-input>
						</ion-item>
					</ion-col>
				<ion-row>
				</ion-row>
				</ion-row>
				<ion-row>
					<ion-col>
					</ion-col>
					<ion-col col-7 text-right>
					<br>
						<i class="color_azul_marino" (click)="olvido_password()"><strong>Olvidé mi contraseña &nbsp;&nbsp;&nbsp;</strong></i>
					</ion-col>
				</ion-row>
					<ion-row>
					<ion-col>
						<button ion-button icon-end round color="azul_marino" (click)="login()">
							Ingresar
							&nbsp;&nbsp;<ion-icon name="custom-flecha_adelante" color="light"></ion-icon>
						</button>
					</ion-col>
					</ion-row>
		</ion-grid>
</div>
</ion-content>
<ion-footer>
		<div align="right">
			<div class="linea_debajo">
				&nbsp;
			</div>
			<ion-fab class="fab_button" id="fab" (click)="registro()">
   		<button ion-fab color="light"><ion-icon name="custom-registro" color="azul_marino" class="tamano_icon"></ion-icon></button>
 		</ion-fab>
		</div>
</ion-footer>
