page-login {
	.imagen_login{
		max-width: 45%;
	}
	.fab_button {
    /* position: absolute; */ 
    z-index: 999;
   	margin-top: -53px;
    margin-left: -51px;
	}
	.linea_debajo{
		margin-top:-16px;
		border-bottom: 12px solid color($colors,light);
	}
	.tamano_icon{
		font-size:50px;
	}
}
