<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Mensajes pendientes de citas</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row> 
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_16pt" *ngIf="contactos; else no_citas">
		<!-- <strong>Haga clic en una cita para ver los mensajes pendientes</strong> -->
	</div>
	<ng-template #no_citas>
		<div padding class="content" *ngIf="!contactos?.length">
			<h1 class="text-gray1 align-mid text-center">No tienes mensajes pendientes</h1>
		</div>
	</ng-template>
	<ion-card padding *ngFor="let item of contactos">
		<ion-grid (click)="ver_chat(item)">
			<ion-row>
				<ion-col>
					<div class="color_azul_oscuro tamano_12pt">
						<strong>{{item.contacto.username}}</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<strong>{{item.contacto.name}}</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-col text-left>&nbsp;{{item.contacto.rol.role}}</ion-col>
			<ion-row>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
