<ion-header no-border>
  <ion-navbar transparent hideBackButton>
  	<div class="linea_arriba">
  	</div>
  	<ion-fab class="fab_button" id="fab" (click)="cerrar()">
   		<button ion-fab color="azul_claro"><ion-icon name="custom-triangulo_arriba" color="light" class="tamano_icon"></ion-icon></button>
 		</ion-fab>

  </ion-navbar>
</ion-header>
<ion-content padding>
	<div padding>	
		<div class="tamano_18pt color_azul_marino">
			<strong>Regístrate</strong>
		</div>
		<div class="tamano_16pt color_azul_marino">
			Ingresa la información para completar el registro
		</div>
		<br>
	</div>
	<div>
		<ion-grid>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Nombre(s)" class="input_registro_2"  [(ngModel)]="data_registro.nombre"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Apellidos" class="input_registro_2" [(ngModel)]="data_registro.apellido" ></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Correo" class="input_registro_2" [(ngModel)]="data_registro.login"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="password" placeholder="Contraseña" class="input_registro_2" [(ngModel)]="data_registro.pass_1" ></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="password" placeholder="Confirmar contraseña" class="input_registro_2" [(ngModel)]="data_registro.pass_2"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>	
					<ion-col>
						<ion-item class="input-registro" no-lines>
							<ion-input type="text" placeholder="Nombre de la persona de contacto" class="input_registro_2" [(ngModel)]="data_registro.nombre_contacto"></ion-input>
						</ion-item>
					</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Telefono" class="input_registro_2" [(ngModel)]="data_registro.telf_contacto"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>	
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_12pt">
								*Si se presenta un problema puedes contactar a alguien para pedir ayuda:
							</div>
						</ion-col>
				</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Email" class="input_registro_2" [(ngModel)]="data_registro.email_contacto"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<br>
					<ion-row>
						<ion-col>
							<button ion-button color="azul_marino" icon-end (click)="guardar()">
								Registrarse
								<ion-icon name="custom-mas" color="light" class="tamano_icon_mas"></ion-icon>
							</button>
						</ion-col>
						<ion-col>
						</ion-col>
					</ion-row>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<ion-row>
						<ion-col>
							<div class="color_azul_marino tamano_10pt">
								Al registrarse acepta los <i><strong>Términos y condiciones</strong></i> de Photoibroker
							</div>
						</ion-col>
					</ion-row>
			</ion-grid>
	</div>
</ion-content>
