<ion-header no-border>
  <ion-navbar transparent hideBackButton>
  	<div class="linea_arriba">
  	</div>
  	<ion-fab class="fab_button" id="fab" (click)="registro()">
   		<button ion-fab color="azul_claro"><ion-icon name="custom-triangulo_arriba" color="light" class="tamano_icon"></ion-icon></button>
 		</ion-fab>

  </ion-navbar>
</ion-header>
<ion-content padding>
	<div padding>	
		<div class="tamano_18pt color_azul_marino">
			<strong>¿Olvidó su Password?</strong>
		</div>
		<div class="tamano_16pt color_azul_marino">
			Ingresa Tu email para recuperar tu contraseña
		</div>
		<br>
	</div>
	<div>
		<br>
		<br>
		<br>
		<ion-grid>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="email" placeholder="Email" class="input_registro_2"  [(ngModel)]="data_usuario.login"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<br>
					<ion-row>
						<ion-col>
							<button ion-button color="azul_marino" icon-end (click)="recuperar_password()">
								Recuperar
							</button>
						</ion-col>
						<ion-col>
						</ion-col>
					</ion-row>
			</ion-grid>
	</div>
</ion-content>
