page-perfil {
	.imagen_perfil{	
		width: 414px;
	  height: 254px;
	  margin-top: 0%;
  	margin-left: 0px;
		object-fit: cover;
  	z-index: -1;
	}
.input-gris_2{
	max-width: 80%;
	margin-top: 10px;
	margin-left: 8px;
	z-index: 5;
	background-color: color($colors,gris_input);
	border-radius: 5px;
}
}
