<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Perfil</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content >
<div *ngIf="!data_usuario.imagen && !photo" class="perfil">
		<img src="assets/imgs/user_default.jpg" class="imagen_perfil" (click)="selectMethodImage()">
</div>
<div *ngIf="data_usuario.imagen && !photo" class="perfil">
		<img src="{{pr_rutas.ruta_imagenes}}{{data_usuario.imagen}}" class="imagen_perfil" (click)="selectMethodImage()">
</div>
<div *ngIf="photo" class="perfil">
		<img src="{{photo}}" class="imagen_perfil" (click)="selectMethodImage()">
</div>
<br>
<div padding-left class="color_texto tamano_14pt">
	<strong>Nombre :{{data_usuario.nombre}} {{data_usuario.Apellido}}</strong><br>
	<strong *ngIf="data_usuario.empresa_asociada"> Empresa Asociada : {{data_usuario.empresa_asociada}}</strong><br>
	<strong *ngIf="!data_usuario.empresa_asociada"> Empresa Asociada : Ninguna</strong><br>
	<strong>Tipo de Usuario : {{data_usuario.rol}}</strong><br>
	<strong>Telefono :{{data_usuario.telf}}</strong><br>
</div>
<div padding-left class="color_texto tamano_12pt">
	{{data_usuario.direccion}}
</div>
<br>
<br>
<div>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Cambiar contraseña</strong>
	</div>
	<ion-item no-lines class="input-gris">
		<ion-input type="password" placeholder="Antigua contraseña"  [(ngModel)]="old_pw"></ion-input>
	</ion-item>
	<ion-item no-lines class="input-gris">
		<ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="new_pw"></ion-input>
	</ion-item>
	<ion-item no-lines class="input-gris">
		<ion-input type="password" placeholder="Repetir Nueva contraseña" [(ngModel)]="new_pw2"></ion-input>
	</ion-item>
</div>
<br>
</ion-content>
<ion-footer>
	<button ion-button block class="color_degradado" (click)="actualizar_contrasena()">Cambiar contraseña</button>
	<button *ngIf="photo" ion-button block color="secondary" (click)="subir()">Cambiar Imagen</button>
</ion-footer>
