<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Detalle de Propiedad</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="inmueble">
		<ion-slides>
			<ion-slide *ngFor="let item of imagenes">
				<div class="image" [style.background-image]="'url('+ pr_rutas.ruta_imagenes+ item.image + ')'"></div> 
				<!-- <div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div> -->
				<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
			</ion-slide>
			<div *ngIf="!imagenes?.length">
				<ion-slide >
					<div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div>
					<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
				</ion-slide>
			</div>
		</ion-slides>
		<br>

		<div padding-left class="subir">
			<ion-grid>
				<ion-row>
					<ion-col>
						<div class="color_blanco tamano_14pt caja_precio precio">
							<strong class="precio">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ {{det_inmueble.precio | number}}</strong>
						</div>
					</ion-col>
					<ion-col>
						<div class="color_texto ">
							<strong class="id_inmueble">ID &nbsp;&nbsp;&nbsp;{{inmueble?.det_inmuebles.id}}</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt firstText">
							<strong>{{det_inmueble.titulo}}</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12 class="text-gray text-left" >
						<p class="align-middle">
							<ion-icon color="danger" name="custom-pin" class="icon"></ion-icon>
							<strong >{{det_inmueble.direccion}}</strong>	
						</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
							<strong>Descripción</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_10pt">
							{{det_inmueble.descripcion}}
						</div>
					</ion-col>
				</ion-row>
				<div class="det_descripcion">
					<ion-row>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-regla_m2" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon"><strong>{{det_inmueble.terreno}} m2</strong> Terreno</ion-col>
							</ion-row>
						</ion-col>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-regla_m2" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon"><strong>{{det_inmueble.construido}} m2</strong> Construido</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</div>
				<div class="det_descripcion">
					<ion-row>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-cama" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon"><strong>{{det_inmueble.recamaras}}</strong> Recáramas</ion-col>
							</ion-row>
						</ion-col>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-banio" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon"><strong>{{det_inmueble.banios}}</strong> Baños</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</div>
				<div class="det_descripcion">
					<ion-row>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-carrito" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon">&nbsp;<strong>{{det_inmueble.cochera}}</strong> Cocheras</ion-col>
							</ion-row>
						</ion-col>
						<ion-col>
							<ion-row>
								<ion-col col-2><ion-icon name="custom-regla_m2" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
								<ion-col class="color_azul_oscuro text-icon"><strong>{{det_inmueble.antiguedad}} Años</strong> Antigüedad</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</div>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
							<strong>Características generales</strong>
						</div>
					</ion-col>
				</ion-row>
				<div *ngFor="let item of caracteristica ">
					<ion-row>
						<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
						<ion-col class="color_texto">{{item}}</ion-col>
					</ion-row>
				</div>
				<div *ngIf="!caracteristica?.length">
					<ion-row>
						<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
						<ion-col class="color_texto">ninguna</ion-col>
					</ion-row>
				</div>
				
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
							<strong>Servicios</strong>
						</div>
					</ion-col>
				</ion-row>
				<div *ngFor="let item of servicio">	
					<ion-row>
						<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
						<ion-col class="color_texto">{{item}}</ion-col>
					</ion-row>
				</div>
				<div *ngIf="!servicio?.length">	
					<ion-row>
						<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
						<ion-col class="color_texto">ninguno</ion-col>
					</ion-row>
				</div>
			</ion-grid>
		</div>
	</div>
	<div id="map_canvas2"></div>
</ion-content>
<ion-footer no-lines>
	<ion-col>
		<button ion-button color="danger" block (click)="cambiar_status_inmueble()">Cambiar status</button>
		<button ion-button color="default" block (click)="editar()">Editar</button>
	</ion-col>
</ion-footer>
