<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
<ion-card>
			<ion-grid>
				<ion-row>
					<ion-col col-3>
					<img src="assets/imgs/user_default.jpg" alt="" class="imagen_logo_contactar">
					</ion-col>
					<ion-col>
						<div class="color_texto tamano_16pt">
							<strong>Perla alcalá</strong>
						</div>
						<div class="color_texto tamano_12pt">
							Sin ningun problemas
						</div>
					</ion-col>
				</ion-row>
		</ion-grid>
</ion-card>
</ion-content>
