<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<br>
	<div padding-left>
		<div class="color_texto tamano_16pt ">
		<strong>Listado de citas</strong>
	</div>
	</div>
<ion-card padding>
			<ion-grid>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_12pt">
							<strong>Panamá sectorial 123</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_10pt">
							25-12-2019
						</div>
					</ion-col>
					<ion-col>
						<div class="color_texto tamano_10pt">
							13:30 
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_azul_oscuro tamano_10pt">
							<strong>Confirmada</strong>
						</div>
					</ion-col>
				</ion-row>
		</ion-grid>
</ion-card>
<ion-card padding>
			<ion-grid>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_12pt">
							<strong>Panamá sectorial 123</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_10pt">
							25-12-2019
						</div>
					</ion-col>
					<ion-col>
						<div class="color_texto tamano_10pt">
							13:30 
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_azul_oscuro tamano_10pt">
							<strong>Confirmada</strong>
						</div>
					</ion-col>
				</ion-row>
		</ion-grid>
</ion-card>
</ion-content>
