<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
		<div class="titulo" align="center"><strong></strong></div>
		<ion-buttons end>
			<button ion-button icon-only (click)="atras()">
				<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<br>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Editar Propiedad</strong>
	</div>
	<div id="map_canvas"></div>
	<div class="color_texto tamano_12pt" padding-left>
		Agregar Fotografias
	</div>
	<ion-grid>
		<ion-slides>
			<ion-slide *ngFor="let image of mis_imagenes; let i = index">
				<div class="image" [style.background-image]="'url('+ pr_rutas.ruta_imagenes + image.image +')'">
				<!-- <div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div> -->
				<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
				<!-- <div class="image image-slide" style="background-image: url('assets/imgs/imagen_inmueble.svg');"> -->
					<button float-right ion-fab mini (click)="deleteImageExist(i,image.id)" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
				</div>
			</ion-slide>
			<ion-slide *ngFor="let image of fotos_agregadas; let i = index">
				<div class="image" [style.background-image]="'url('+image.filePath + ')'">
				<!-- <div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div> -->
				<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
				<!-- <div class="image image-slide" style="background-image: url('assets/imgs/imagen_inmueble.svg');"> -->
					<button float-right ion-fab mini (click)="deleteImage(i)" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
				</div>
			</ion-slide>
		</ion-slides>
		<ion-row >
			<ion-col col-8>
				<ion-card padding text-center>
					<p>
						<ion-icon name="custom-casa" color="gris_casa"></ion-icon>
					</p>
				</ion-card>
			</ion-col>
			<ion-col col-4 padding>
				<br>
				<ion-fab (click)="selectMethodImage()">
					<button ion-fab mini color="azul_claro"><ion-icon name="add"></ion-icon></button>
				</ion-fab>
				<br>
			</ion-col>
		</ion-row>
		<ion-row>
						<!-- <ion-col>
							<ion-tags-input class="item_tag" [color]="'azul_claro'" readonly [(ngModel)]="fotos_agregadas" [canBackspaceRemove]="true" [canEnterAdd]="false" placeholder=""></ion-tags-input>
							<ion-tags-input class="item_tag" [color]="'azul_claro'" readonly [(ngModel)]="fotos_agregadas"  [canBackspaceRemove]="true" [canEnterAdd]="false" placeholder=""></ion-tags-input>
						</ion-col> -->
					</ion-row>
					<ion-row padding-vertical>
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Nombre inmobiliaria (Opcional)</strong>
							</div>
							<ion-item no-lines class="input-gris">
								<ion-input type="text" placeholder="Nombre Inmobiliaria (Opcional)"  [(ngModel)]="data_propiedad.inmobiliaria"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Tipo de publicación</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-select placeholder="Seleccione el tipo de publicación"  class="select_wide"  [(ngModel)]="data_propiedad.id_tipo_publicacion" >
									<div *ngFor="let item of data_tipo_publicacion">
										<ion-option value="{{item.id}}">{{item.tipo}}</ion-option>
									</div>
								</ion-select>							
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row >
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Tipo de Inmueble</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-select placeholder="Seleccione el tipo de publicación"  class="select_wide"  [(ngModel)]="data_propiedad.id_tipo_inmueble" >
									<div *ngFor="let item of data_tipo_inmueble">
										<ion-option value="{{item.id}}">{{item.tipo}}</ion-option>
									</div>
								</ion-select>							
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row >
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Título de la propiedad</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-input type="text" placeholder="Agregar titulo.." class="input_registro_2" [(ngModel)]="data_propiedad.titulo"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Dirección</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-input type="text" placeholder="Agregar dirección.." class="input_registro_2"  [(ngModel)]="data_propiedad.direccion" (click)="buscar_direccion()" disabled="true"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row >
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Descripción</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-textarea type="text" placeholder="Agregar descripción.." class="input_registro_2" rows="4" [(ngModel)]="data_propiedad.descripcion"></ion-textarea>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col >
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Años..." class="input_registro_2" [(ngModel)]="data_propiedad.antiguedad"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>	
								<div class="tamano_12pt color_texto">
									Antiguedad
								</div>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col >
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Mts..." class="input_registro_2" [(ngModel)]="data_propiedad.terreno"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>	
								<div class="tamano_12pt color_texto">
									Terreno
								</div>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Mts..." class="input_registro_2" [(ngModel)]="data_propiedad.construido"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>	
								<div class="tamano_12pt color_texto">
									Construido
								</div>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.recamaras"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>
								<div class="tamano_12pt color_texto">
									Recamaras
								</div>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.banios"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>
								<div class="tamano_12pt color_texto">
									Baños
								</div>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item no-lines class="input-gris">
								<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.cochera"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col padding>
							<ion-item no-lines>
								<div class="tamano_12pt color_texto">
									Cochera(s)
								</div>
							</ion-item>
						</ion-col>
					</ion-row>

					<div *ngIf="nueva_caracteristica==0">
						<ion-row>
							<ion-col>
								<div class="color_texto tamano_12pt" padding-left>
									<strong>Características generales</strong>
								</div>
								<ion-item  class="input-gris" no-lines>
									<ion-input type="text" placeholder="Agregar característica.." class="input_registro_2"  [(ngModel)]="caracteristica_agregar"></ion-input>
								</ion-item>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-4></ion-col>
							<ion-col col-4><button ion-button color="verde_limon" small (click)="guardar_caracteristica()"><strong>Agregar</strong></button></ion-col>
							<ion-col col-4></ion-col>
						</ion-row>
					</div>
					<ion-row>
						<ion-col>
							<ion-tags-input class="item_tag" [color]="'azul_claro'"  [(ngModel)]="caracteristica" [canBackspaceRemove]="true" [canEnterAdd]="false" placeholder=""></ion-tags-input>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Servicios</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-select multiple="true" placeholder="Seleccione servicio.." [(ngModel)]="servicio"  class="select_wide" (ionChange)="guardar_servicio($event)" >
									<div *ngFor="let item of servicio_select">
										<ion-option value="{{item.tipo}}">{{item.tipo}}</ion-option>
									</div>
								</ion-select>
								<!-- 	<ion-input type="text" placeholder="Agregar servicio.." class="input_registro_2"  [(ngModel)]="servicio_agregar"></ion-input> -->
							</ion-item>
						</ion-col>
					</ion-row>
			<!-- 	<ion-row>
					<ion-col col-4></ion-col>
						<ion-col col-4><button ion-button color="verde_limon" small block (click)="guardar_servicio()">Agregar</button></ion-col>
					<ion-col col-4></ion-col>
				</ion-row> -->
					<!-- <ion-row>
						<ion-col>
							<ion-tags-input class="item_tag" [color]="'azul_claro'"  [(ngModel)]="servicio" [canBackspaceRemove]="true" [canEnterAdd]="false" placeholder=""></ion-tags-input>
						</ion-col>
					</ion-row> -->
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_12pt" padding-left>
								<strong>Precio</strong>
							</div>
							<ion-item  class="input-gris" no-lines>
								<ion-input type="tel" placeholder="Ingrese precio.." class="input_registro_2" disabled="true" [(ngModel)]="data_propiedad.precio"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<div no-padding>
						<button ion-button full class="color_degradado" (click)="calcular_precio()"><strong>Calcular precio</strong></button>
					</div>
				</ion-grid>
				<br>
				<div no-padding>
					<button ion-button full class="color_degradado" (click)="guardar_inmueble()" ><strong>Guardar</strong></button>
				</div>
			</ion-content>
