<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col>
				<div class="titulo" align="center"><strong>Propiedades en Ruta</strong></div>
			</ion-col>
			<ion-col>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row>	 
	</ion-navbar>
</ion-header>
<ion-content>
	<div id="map_canvas"></div>
	<ion-fab right bottom (click)="nueva_propiedad()">
		<button ion-fab color="azul_claro"><ion-icon name="custom-mas"></ion-icon></button>
	</ion-fab>
	<div class="footer_seleccion_mapa" id="mapa_2" padding [ngStyle]="{display: muestra}">
		<div class="veterinaria tamano_12pt">
			<strong>{{nombre_propiedad}}</strong>
		</div>
		<div class="">
			{{direccion}}
		</div>
		<div align="center" class="mas_info">
			<button ion-button round color="color_boton_login" small (click)="seleccionar_propiedad()">Más info</button>
		</div>
	</div>
</ion-content>
