<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Propiedades</strong></div>
 	 	 <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div padding>
		<h3 *ngIf="!inmuebles_glob?.length">
		No hay propiedades con este criterio de búsqueda, lo sentimos
	</h3>
	</div>
	<ion-grid *ngFor="let item of inmuebles_glob" (click)="get_det_inmueble(item)" no-padding>
	<div class="separator"></div>
	<ion-row>
		<ion-col col-12>
			<div *ngIf="item.imagenes?.length" class="imageList" [style.background-image]="'url('+ pr_rutas.ruta_imagenes + item.imagenes[0]?.image + ')'"></div>
			<div *ngIf="!item.imagenes?.length" class="imageList" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div>
		</ion-col>
	</ion-row>
		<ion-row>
			<ion-col col-4>
				<div class="fade">
					<div class=" tamano_14pt precio text-center ">
						<strong>$ {{item.inmueble.precio | number }}</strong>
					</div>
				</div>
				<div>
					<h6 class="text-center lessMargin">{{item.inmueble.tipoPublicacion.tipo}}</h6>
				</div>
			</ion-col>
			<ion-col col-8>
				<ion-row>
					<ion-col class="pt-8" col-8>
						<div class=" text-center">
							<div class="">
								<strong>{{item.inmueble.user.name}}</strong>
							</div>
							<div>
								{{item.inmueble.inmobiliaria}}
							</div>
							<div>
								<strong>ID: {{item.inmueble.id}}</strong>
							</div>
						</div>
					</ion-col>
					<ion-col col-4>
						<div class=" text-center">
							<img *ngIf="!item.inmueble.user.image" src="assets/imgs/img_1.png" class="img_usuario">
							<img *ngIf="item.inmueble.user.image" src="{{pr_rutas.ruta_imagenes}}{{item.inmueble.user.image}}" class="img_usuario">
						</div>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>


		<ion-row class="text-gray">
			<ion-col col-2 class="pt-5 text-center">
				&nbsp;&nbsp;&nbsp;	<ion-icon name="custom-cama" ></ion-icon> <strong>{{item.inmueble.recamaras}}</strong>
			</ion-col>
			<ion-col col-2 class="pt-5 text-center">
				&nbsp;&nbsp;&nbsp;<ion-icon name="custom-banio" ></ion-icon> <strong>{{item.inmueble.banios}}</strong>
			</ion-col>
			<ion-col col-2 class="pt-5 text-center">
				&nbsp;&nbsp;&nbsp;<ion-icon name="custom-carrito" ></ion-icon> <strong>{{item.inmueble.cochera}}</strong>
			</ion-col>
			<ion-col col-6 class="pt-5 pl-12 text-left">
				<ion-icon name="custom-regla_m2" ></ion-icon><strong class="ml-3">{{item.inmueble.terreno}}</strong>
			</ion-col>
		</ion-row>

		<ion-row class="padding-horizontal">
			<ion-col col-12 class="text-gray text-left" >
				<p class="align-middle">
					<ion-icon name="custom-pin" class="icon"></ion-icon>
					<strong >{{item.inmueble.direccion.substr(0,68)}}...</strong>	
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<br>

</ion-content>
<div class="button-filtro ">
	<button (click)="filtro()" class="border-button" ion-button round color="light"><ion-icon name="options"></ion-icon></button>
</div>
<div class="footer_transparente front">
	<ion-grid (click)="ver_mapa()">
				<ion-row>
					<ion-col col-4></ion-col>
					<ion-col col-4><button  ion-button round color="azul_oscuro"><img src="assets/imgs/lista.png" alt="">&nbsp;&nbsp;Mapa</button></ion-col>
					<ion-col col-4></ion-col>
				</ion-row>
		</ion-grid>
</div>
<ion-footer>
	<button ion-button class="color_degradado" block (click)="publicar_propiedad()">Publicar propiedad</button>
</ion-footer>