page-buscar-propiedad-resultados {

	.imagen_inmueble{
		margin-top: -3%;
		margin-left: 0px;
		width: 100vw;
		height: 33vh;
		z-index: -1;
	}
	.input-detalle{
		width: 100%;
		margin-top: 1vh;
		margin-left: 0px;
		background-color: white;
	}
	.footer_transparente{
		position: fixed;
		top: 85vh;
		left: 25vw;
	}
	.linea{
		margin-bottom: -0.6vh;
		border-bottom: 2px solid color($colors,azul_oscuro);
	}
	.direccion{
		position: absolute;
		margin-top: 0.8vh;
		margin-left: -5vw;
	}

	.bajar_precio{
		margin-top:3.5vh;
	}
	.img_usuario{
	margin-top: 10px;
	width: 42px;
	height: 42px;
	border-radius: 150px;
}
	.degradado{
		height: 27px;
		width: 150px;
		border-bottom: 1px solid color($colors,dark);
	}
	.amenidades_subir{
		margin-top:-4.5vh;
	}
	.amenidades_1{
		margin-left:-7.5vw;
	}
	.amenidades_2{
		margin-left:-18.5vw;
	}
	.amenidades_3{
		margin-left:-25.5vw;
	}
	.tamano_icon{
		font-size: 31px;
	}
	.tamano_icon_2{
		font-size: 17px;
	}

	.gray-text{
		color: #717171;
	}

	.front{
		z-index: 9999;
	}

}
