<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
		<div class="titulo" align="center"><strong>Términos y condiciones</strong></div>
		<ion-buttons end>
			<button ion-button icon-only (click)="atras()">
				<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div>	
		<div class="text-gray text-bold">
			<h2>Términos y condiciones</h2>
		</div>
		<div class="text-gray">
			<p >
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum velit laudantium culpa voluptatem tempora numquam consectetur adipisci, quidem natus, voluptates quis laboriosam quae facere illum nostrum voluptate mollitia cumque a.
			</p>
			<p >
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum velit laudantium culpa voluptatem tempora numquam consectetur adipisci, quidem natus, voluptates quis laboriosam quae facere illum nostrum voluptate mollitia cumque a.
			</p>
			<p >
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum velit laudantium culpa voluptatem tempora numquam consectetur adipisci, quidem natus, voluptates quis laboriosam quae facere illum nostrum voluptate mollitia cumque a.
			</p>
			<p >
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum velit laudantium culpa voluptatem tempora numquam consectetur adipisci, quidem natus, voluptates quis laboriosam quae facere illum nostrum voluptate mollitia cumque a.
			</p>
		</div>
		<!-- <div class="tamano_16pt color_azul_marino">
			<div *ngFor="let item of terminos_condiciones">
				{{item.descripcion}}
			</div>
		</div> -->
		<br>
	</div>
</ion-content>
