page-politicas-privacidad {
	.linea_arriba{
		margin-top: -22px;
		margin-left: -4px;
		width: 104%;
		border-bottom: 12px solid color($colors,azul_claro);
	}
	.fab_button {
    /* position: absolute; */ 
    z-index: 999;
    margin-top: -25px;
    margin-left: 315px;
	}
	.input-registro{
		max-width: 94%;
		margin-top: 10px;
		margin-left: 8px;
		z-index: 5;
		background-color: color($colors,gris_input);
		border-radius: 5px;
	}
	.input_registro_2{
		 border-bottom: none;
	}
	.tamano_icon{
		margin-top: 10px;
		margin-left:-5px;
		font-size:20px;
	}
	.tamano_icon_mas{
		margin-left:10px;
		font-size:30px;
	}
	@media screen and (width: 360px){
		.linea_arriba {
    margin-top: -28px;
    margin-left: -4px;
    width: 104%;
    border-bottom: 12px solid #00C1FF;
	}
	}
}
