<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div align="center">
		<img src="assets/imgs/user_default.jpg" alt="" class="imagen_servicio">
	</div>
	<ion-card>
				<ion-grid>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Arquitectos y demás</strong>
							</div>
						</ion-col>
						
					</ion-row>
					<ion-row>
						<ion-col col-1>
							<div>
								<ion-icon name="custom-pin" color="danger" class="tamano_icon"></ion-icon>
							</div>
						</ion-col>
						<ion-col>
							&nbsp;por alla es
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Quienes somos</strong>
							</div>
						</ion-col>
					</ion-row>
						<ion-row>
						<ion-col>
							<div class="color_texto tamano_10pt">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, autem sequi asperiores inventore molestiae, saepe iste eius rem voluptate ratione dolorem? Totam dolore placeat laborum mollitia minima voluptates, soluta. Dolorum.
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Servicios</strong>
							</div>		
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-1>
							<ion-icon name="custom-check" color="azul_marino" ></ion-icon>
						</ion-col>
						<ion-col>
							Línea telefónica
						</ion-col>
					</ion-row>
			</ion-grid>
	</ion-card>
</ion-content>
<ion-footer>
	<button ion-button color="verde_limon" full block>Contactar</button>
</ion-footer>
