<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center">{{servicio?.empresa}}<strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div align="center">
			<img src="{{ servicio?.imagen ? ruta_imagenes + servicio?.imagen : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_servicio">
	</div>
	<ion-card class="caja_caja">
				<ion-grid>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>{{servicio?.empresa}}</strong>
							</div>
						</ion-col>						
					</ion-row>
					<ion-row>
						<ion-col col-1>
							<div>
								<ion-icon name="custom-pin" color="danger" class="tamano_icon"></ion-icon>
							</div>
						</ion-col>
						<ion-col>
							&nbsp;{{servicio?.direccion}}
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Quienes somos</strong>
							</div>
						</ion-col>
					</ion-row>
						<ion-row>
						<ion-col>
							<div class="color_texto tamano_10pt">
							{{servicio?.descripcion}}
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Teléfono</strong>
							</div>
						</ion-col>
					</ion-row>
						<ion-row>
						<ion-col>
							<div class="color_texto tamano_10pt">
							{{servicio?.telefono}}
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Correo electrónico</strong>
							</div>
						</ion-col>
					</ion-row>
						<ion-row>
						<ion-col>
							<div class="color_texto tamano_10pt">
							{{servicio?.email}}
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Sitio Web</strong>
							</div>
						</ion-col>
					</ion-row>
						<ion-row>
						<ion-col>
							<div class="color_texto tamano_10pt">
							{{servicio?.web}}
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<div class="color_texto tamano_14pt">
								<strong>Servicios</strong>
							</div>		
						</ion-col>
					</ion-row>
			</ion-grid>
	</ion-card>
</ion-content>
