page-membresia-adquirida {
	.imagen_felicitacion{
		margin-top:34%;
	  margin-left: 10%;
	}
@media screen and (width: 360px){
	.imagen_felicitacion{
		margin-top:63%;
  	margin-left: 10%;
	}
}
@media screen and (width: 412px){
	.imagen_felicitacion{
		margin-top:74%;
  	margin-left: 10%;
	}
}
}
