<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_16pt">
		<strong>Propiedades favoritas</strong>
	</div>
	<div  *ngFor="let item of inmuebles">
		<ion-card class="caja_caja">
			<ion-grid>
				<ion-row>
					<ion-col text-center>
						<img src="{{item.imagen ? ruta_imagenes + item.imagen : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble">
					</ion-col>
					<ion-col text-left>
						<div class="color_texto tamano_12pt">
							<strong>{{item.inmueble.titulo}}</strong>
						</div>
							<div class="color_texto tamano_10pt">
								{{item.inmueble.direccion}}
						</div>
						<div class="color_texto tamano_10pt">
							<strong>{{item.inmueble.descripcion?.substr(0,25)}}...</strong>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>
		<div class="boton">
				<ion-grid>
					<ion-row>
						<ion-col col-6>		
						</ion-col>
						<ion-col text-right>
							<button ion-button block color="azul_claro" small (click)="get_det_inmueble(item)"><strong>Ver detalles</strong></button>
						</ion-col>
						<ion-col col-1>		
						</ion-col>
					</ion-row>
			</ion-grid>
		</div>
		
	</div>

</ion-content>
