<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
		<div class="titulo" align="center"><strong></strong></div>
		<ion-buttons end>
			<button ion-button icon-only (click)="atras()">
				<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<br>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Publicar Propiedad en ruta</strong>
	</div>
	<div class="color_texto tamano_12pt" padding-left>
		Agregar Fotografia
	</div>
	<ion-grid>
		<ion-slides>
			<ion-slide *ngFor="let image of fotos_agregadas; let i = index">
				<div class="image" [style.background-image]="'url('+image.filePath + ')'">
					<!-- <div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div> -->
					<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
					<!-- <div class="image image-slide" style="background-image: url('assets/imgs/imagen_inmueble.svg');"> -->
						<button float-right ion-fab mini (click)="deleteImage(i)" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
					</div>
				</ion-slide>
			</ion-slides>
			<ion-row >
				<ion-col col-8>
					<ion-card class="caja_caja" style="height: 160px" padding text-center>
						<ion-icon name="custom-casa" style="margin-top: 50px"  color="gris_casa"></ion-icon>
					</ion-card>
				</ion-col>
				<ion-col col-4 padding>
					<br>
					<ion-fab (click)="selectMethodImage()">
						<button ion-fab mini color="azul_claro"><ion-icon name="custom-mas"></ion-icon></button>
					</ion-fab>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col>
					<div class="color_texto tamano_12pt" padding-left>
						<strong>Nombre</strong>
					</div>
					<ion-item  class="input-gris" no-lines>
						<ion-input type="text" placeholder="Nombre" class="input_registro_2" [(ngModel)]="data_propiedad.nombre"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row >
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_12pt" padding-left>
						<strong>Dirección</strong>
					</div>
					<ion-item  class="input-gris" no-lines>
						<ion-input type="text" placeholder="Agregar dirección..." class="input_registro_2"  [(ngModel)]="data_propiedad.direccion" disabled="true" (click)="buscar_direccion()"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col>
					<div class="color_texto tamano_12pt" padding-left>
						<strong>Comentarios</strong>
					</div>
					<ion-item  class="input-gris" no-lines>
						<ion-textarea type="text" placeholder="Agregar Comentarios..." class="input_registro_2" rows="4" [(ngModel)]="data_propiedad.comentarios"></ion-textarea>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
		<br>
		<ion-grid>
			<ion-row>
				<ion-col col-2></ion-col>
				<ion-col>
					<button ion-button block color="azul_claro" (click)="guardar_propiedad()"><strong>Guardar en ruta</strong></button>
				</ion-col>
				<ion-col col-2></ion-col>
			</ion-row>
		</ion-grid>
		<div id="map_canvas" style="display: none"></div>
	</ion-content>
