<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding>
		<ion-card padding-left>
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="color_azul_claro tamano_12pt">
					<strong>{{membresia_seleccionada.descripcion}}</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col><ion-icon name="custom-check" color="azul_oscuro"></ion-icon>{{membresia_seleccionada.dias}} dias</ion-col>
			</ion-row>
	</ion-grid>
		<div align="right">
			<div class="color_degradado texto_blanco tamano_12pt tamano_cuadro_degradado" align="center" >
				<div class="texto_medio">
					<strong>${{(membresia_seleccionada.precio*1).toFixed(2)}} MXN</strong>
				</div>
			</div>
		</div>
	</ion-card>
	<br>
	<br>
	<br>
	<div class="color_texto tamano_12pt" *ngIf="tarjetas!=null;else otro_template">
		Seleccione una tarjeta para continuar
	</div>
	<ng-template #otro_template>
		<strong class="color_texto tamano_16pt">Agrega una nueva tarjeta para continuar</strong>
	</ng-template>
	<div *ngFor="let item of tarjetas">
			<ion-card col-6 class="tarjeta">	
					<ion-grid (click)="seleccionar_tarjeta(item)">
						<ion-row>
							<ion-col text-left col-8>
								<div class="texto_titulo_gris tamano_14pt">
									<strong>****-{{item.card_number.substr(12,4)}}</strong>
								</div>
							</ion-col>
						</ion-row>
				</ion-grid>
			</ion-card>
		</div>
	</div>
</ion-content>
<ion-footer>
	<button ion-button full class="color_degradado" (click)="nueva_tarjeta()"> Agregar nueva tarjeta</button>
</ion-footer>
