<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Filtrar</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<br>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Filtrar por:</strong>
	</div>
	<ion-grid>
		<ion-row >
			<ion-col>
				<div style="padding-left: 6px;" class="color_texto tamano_12pt" padding-left>
					<strong >Precio:</strong>
				</div>
			</ion-col>
		</ion-row>
		<ion-row >
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="number" placeholder="Desde"  [(ngModel)]="data_propiedad.min"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="number" placeholder="Hasta"  [(ngModel)]="data_propiedad.max"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row >
			<ion-col>
				<div class="color_texto tamano_12pt" padding-left>
					<strong>Tipo de Inmueble</strong>
				</div>
				<ion-item  class="input-gris blue" no-lines>
					<ion-select placeholder="Seleccione el tipo de publicación"  class="select_wide"  [(ngModel)]="data_propiedad.tipo" >
						<div *ngFor="let item of data_tipo_inmueble">
							<ion-option value="{{item.id}}">{{item.tipo}}</ion-option>
						</div>
					</ion-select>							
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col >
				<ion-item no-lines class="input-gris">
					<ion-input type="tel" placeholder="Mts..." class="input_registro_2" [(ngModel)]="data_propiedad.terreno"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col padding>
				<ion-item no-lines>	
					<div class="tamano_12pt color_texto">
						Terreno
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="tel" placeholder="Mts..." class="input_registro_2" [(ngModel)]="data_propiedad.construido"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col padding>
				<ion-item no-lines>	
					<div class="tamano_12pt color_texto">
						Construido
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.recamaras"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col padding>
				<ion-item no-lines>
					<div class="tamano_12pt color_texto">
						Recamaras
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.banios"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col padding>
				<ion-item no-lines>
					<div class="tamano_12pt color_texto">
						Baños
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item no-lines class="input-gris">
					<ion-input type="tel" placeholder="Número..." class="input_registro_2" [(ngModel)]="data_propiedad.cochera"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col padding>
				<ion-item no-lines>
					<div class="tamano_12pt color_texto">
						Cochera(s)
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row padding-vertical>
			<ion-col>
				<div class="color_texto tamano_12pt" padding-left>
					<strong>Buscar propiedad por ID</strong>
				</div>
				<ion-item no-lines class="input-gris">
					<ion-input type="text" placeholder="ID de Propiedad (Opcional)"  [(ngModel)]="data_propiedad.id_inmueble"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<br>
	<div no-padding>
		<button ion-button full class="color_degradado" (click)="buscar()"><strong>Buscar</strong></button>
	</div>
</ion-content>
