page-home-mapa {
	#map_canvas{
		margin-top: 0vh;
		height: 100%;
		width: 100%;
	}
	.header_seleccion_mapa{
		max-width: 94%;
		position: absolute;
		top: 0vh;
    left: 6%;
		height: 71px;
		width: 341px;
		z-index: 5;
		background-color: transparent;
  }
  .footer_seleccion_mapa{
    max-width: 94%;
    position: absolute;
    top: 65vh;
    left: 9vw;
    height: 93px;
    width: 341px;
    z-index: 5;
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
  }
  .mas_info{
		position:absolute;
  	top: 10vh;
    left: 28vw;
  }
  .boton_lista{
  	position:absolute;
  	top: 85vh;
    left: 28vw;
  }
}
