page-propiedad-ruta-detalle {
	.imagen_inmueble{
		margin-top: -3.3vh;
		margin-left: 0px;
		width: 100vw;
	  height: 39vh;
		z-index: -1;
	}
	#map_canvas{
		margin-top: 1vh;
  	height: 52%;
  	width: 100%;
	}
	.caja_caja_2 {
    -webkit-box-shadow: 0px 3px 11px -8px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 3px 11px -8px rgba(0, 0, 0, 0.8);
    margin-top:-5vh;
	}
}
