	<ion-header >
		<ion-navbar transparent hideBackButton class="color_degradado_navbar">
			<button ion-button clear menuToggle> 
				<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
			</button>
	 	 	 <div class="titulo" align="center"><strong></strong></div>
	    <ion-buttons end>
			      <button ion-button icon-only (click)="atras()">
			         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
			      </button>
	    </ion-buttons>
		</ion-navbar>
	</ion-header>

	<ion-content>
		<div> <!-- *ngFor="let item of inmuebles_ruta" -->
			<ion-slides>
				<ion-slide *ngFor="let item of imagenes">
				<div class="image" [style.background-image]="'url('+ pr_rutas.ruta_imagenes+ item.image + ')'"></div> 
				<!-- <div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div> -->
				<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
			</ion-slide>
			<div *ngIf="!imagenes?.length">
				<ion-slide >
				<div class="image" style="background-image: url('assets/imgs/imagen_inmueble.svg');"></div>
				<!-- <img src="{{item.descripcion ? ruta_imagenes + item.descripcion : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble" (click)="mostrar_zoom(item.descripcion)"> -->
			</ion-slide>
			</div>
		</ion-slides>

			<div class="tamano_14pt caja_caja_2" padding-horizontal>
				<br>
				<br>
				<div class="tamano_12pt">
					{{inmuebles_ruta.direccion}}
				</div>
				<br>
				<strong>{{inmuebles_ruta.comentarios}}</strong><br><br>
			</div>
		</div>
			<div id="map_canvas" ></div>
	</ion-content>
