
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:      #ffffff,  
  gris_input: #F4F2F2,
  dark:       #222,
  azul_oscuro: #006FFF,
  azul_claro:  #00C1FF,
  azul_marino: #00135E,
  verde_limon: #00D94B,
  gris: #717171,
  gris_casa: #B7B7B7,
);

  $app-background: linear-gradient(to right, color($colors, azul_claro) 0%, color($colors, azul_oscuro) 100%);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-background-color:color($colors,white);
$searchbar-ios-input-background-color:transparent;
$searchbar-ios-input-text-color:color($colors,dark);
$searchbar-ios-input-search-icon-color:#f4f4f1;
$searchbar-ios-input-search-icon-size:20px;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$searchbar-md-background-color:color($colors,white);
$searchbar-md-input-background-color:transparent;
$searchbar-md-input-text-color:color($colors,dark);
$searchbar-md-input-search-icon-color:#f4f4f1;
$searchbar-md-input-search-icon-size:20px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";