page-mis-propiedades-lista {
	.imagen_logo{
		margin-top: 0px;
		margin-left:0px;
		max-width: 80%;
	}
	.boton{
		margin-top: -40px;
	}
	.buscar{
		border-radius: 30px;
		box-shadow: -1px 4px 23px -9px rgba(0, 0, 0, 0.75);
	}
	.imagen_inmueble{
		margin-top: -3%;
		margin-left: 0px;
		width: 100vw;
	  height: 33vh;
		z-index: -1;
	}
}
