<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Lista de propiedades</strong></div>
    <!-- <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons> -->
	</ion-navbar>
</ion-header>
<ion-content>
	<!-- <ion-item no-lines class="input-filtro">
		<div class="color_texto tamano_12pt">
			Filtrar por..
		</div>
		<ion-icon name="custom-filtrar" item-end class="tamano_icon_2" color="azul_oscuro"></ion-icon>
	</ion-item> -->
	<div *ngFor="let item of inmuebles">
		<div class="inmueble" (click)="get_det_inmueble(item)"> <!-- (click)="get_det_inmueble(item)" -->
			<!-- <img src="{{ item.imagen ? ruta_imagenes + item.imagen : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_inmueble"> -->
			<div class="input-detalle">
						<ion-grid no-padding>
							<ion-row>
								<ion-col col-5>
									<div class=" degradado" padding-left>
										<div class="color_azul_claro tamano_14pt bajar_precio" align="left">
											<strong>$ {{item.inmueble.precio | number}}</strong>
										</div>
									</div>
								</ion-col>
								<ion-col col-5>
								</ion-col>
								<ion-col col-1>
									<ion-icon name="custom-flecha_adelante" color="azul_oscuro" class="tamano_icon bajar_precio"></ion-icon>
								</ion-col>
							</ion-row>
							<ion-row padding-top>
								<ion-col col-3>
									<div class="color_texto tamano_8pt">
										<ion-icon name="custom-regla_m2" class="tamano_icon"></ion-icon><strong>{{item.inmueble.precio}}m2</strong>
									</div>
								</ion-col>
								<ion-col>
									<div class="color_texto tamano_10pt">
											<ion-icon name="custom-cama" class="tamano_icon"></ion-icon> <strong>{{item.inmueble.recamaras}}</strong>
									</div>
								</ion-col>
								<ion-col>
									<div class="color_texto tamano_10pt">
										<ion-icon name="custom-banio" class="tamano_icon"></ion-icon> <strong>{{item.inmueble.banios}}</strong>
									</div>
								</ion-col>
									<ion-col>
									<div class="color_texto tamano_10pt">
										<ion-icon name="custom-carrito" class="tamano_icon"></ion-icon> <strong>{{item.inmueble.cochera}}</strong>
									</div>
								</ion-col>
									<ion-col>
									</ion-col>
							</ion-row>
							<ion-row class="pt-8">
								<ion-col>
									<div  class="color_texto ">
										<ion-icon name="custom-pin" class="tamano_icon"></ion-icon><strong>{{item.inmueble.descripcion}}</strong>
									</div>
									<br>
								</ion-col>
								<ion-col>
									<strong>{{item.inmueble.status.status}}</strong>
								</ion-col>
							</ion-row>
					</ion-grid>
			</div>
			<br>
		</div>		
	</div>
</ion-content>
<ion-footer>
	<button ion-button class="color_degradado" block (click)="publicar_propiedad()">Publicar propiedad</button>
</ion-footer>
