<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-10>
        <ion-searchbar placeholder="Ingrese su Dirección" [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()">
    </ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <ion-buttons >
          <button align="center" ion-button icon-only class="btn-back" (click)="dismiss()">
            <ion-icon name="custom-triangulo_lado" color="dark"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
        <ion-icon name="custom-pin" class="tamano_icon"></ion-icon> {{  item.description }}
    </ion-item>
  </ion-list>
  <div *ngIf="ubicaciones_frecuentes_todas">
  </div>
</ion-content>

