ion-icon {
  body { 
    margin: 0px; 
  }
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 0.5em;
  }
  &[class*="custom-flecha_adelante"]{
    mask-image: url(../assets/icon/flecha.svg);
  }
  &[class*="custom-registro"]{
    mask-image: url(../assets/imgs/registro.svg);
  }
  &[class*="custom-mas"]{
    mask-image: url(../assets/imgs/signo_mas.svg);
  }
  &[class*="custom-triangulo_arriba"]{
    mask-image: url(../assets/icon/triangulo_arriba.svg);
  }
  &[class*="custom-menu_lateral"]{
    mask-image: url(../assets/icon/menu_lateral.svg);
  }  
  &[class*="custom-triangulo_lado"]{
    mask-image: url(../assets/icon/triangulo_lado.svg);
  }  
  &[class*="custom-filtrar"]{
    mask-image: url(../assets/icon/filtrar.svg);
  }  
  &[class*="custom-pin"]{
    mask-image: url(../assets/icon/pin.svg);
  }
  &[class*="custom-regla_m2"]{
    mask-image: url(../assets/icon/regla_m2.svg);
  }
  &[class*="custom-cama"]{
    mask-image: url(../assets/icon/cama.svg);
  }
  &[class*="custom-banio"]{
    mask-image: url(../assets/icon/banio.svg);
  }
  &[class*="custom-carrito"]{
    mask-image: url(../assets/icon/carrito.svg);
  }
  &[class*="custom-check"]{
    mask-image: url(../assets/icon/check.svg);
  }
  &[class*="custom-mensaje"]{
    mask-image: url(../assets/icon/mensaje.svg);
  }
  &[class*="custom-llamar"]{
    mask-image: url(../assets/icon/llamar.svg);
  }
  &[class*="custom-cita"]{
    mask-image: url(../assets/icon/cita.svg);
  } 
  &[class*="custom-calendario"]{
    mask-image: url(../assets/icon/calendario.svg);
  }
  &[class*="custom-compartir"]{
    mask-image: url(../assets/icon/compartir.svg);
  } 
  &[class*="custom-hora"]{
    mask-image: url(../assets/icon/hora.svg);
  }  
  &[class*="custom-cancelar"]{
    mask-image: url(../assets/icon/cancelar.svg);
  }
  &[class*="custom-sos"]{
    mask-image: url(../assets/icon/sos.svg);
    font-size: 100px;
  }  
  &[class*="custom-casa"]{
    mask-image: url(../assets/icon/casa.svg);
    font-size: 100px;
  }  
}
.fondo_principal{
  background:url('../assets/imgs/fondo.png'); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
}
.fondo_menu{
  background:url('../assets/imgs/fondo_menu_lateral.png'); 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
}
.cuadro {
  max-width: 100%;
  margin-top: -1vh;
  margin-left: 0px;
  z-index: 5;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
}
.tamano_8pt{
	font-size: 8pt; 
}
.tamano_10pt{
	font-size: 10pt; 
}
.tamano_12pt{
	font-size: 12pt; 
}
.tamano_14pt{
	font-size: 14pt; 
}
.tamano_16pt{
	font-size: 16pt; 
}
.tamano_18pt{
	font-size: 18pt; 
}
.tamano_20pt{
	font-size: 20pt; 
}
.texto_blanco{
	color:color($colors,light);
}
.tamano_icon{
	font-size: 36px;
}

.negrita{
	font-weight: bold;
}
.color_degradado{
 background: linear-gradient(to right,color($colors,azul_claro),color($colors,azul_oscuro));
}
.caja_caja{
  box-shadow: 0px 3px 11px -8px rgba(0, 0, 0, 0.80);
}
.caja_precio{
 margin-top: -1.7vh;
 margin-left: -7vw;
 height: 4vh;
 width: 60vw;
 background: linear-gradient(to right,color($colors,azul_claro),color($colors,azul_oscuro));
}
.color_degradado_navbar{
  background: $app-background;
}
/* .toolbar-background {
  background-color: blue;
} */
.fondo_azul_marino{
	background: color($colors,azul_marino);	
}
.color_azul_marino{
	color: color($colors,azul_marino);	
}
.color_azul_oscuro{
	color: color($colors,azul_oscuro);	
}
.color_azul_claro{
	color: color($colors,azul_claro);	
}
.color_blanco{
  color: color($colors,light); 
}
.input-login{
	max-width: 94%;
	margin-top: 10px;
	margin-left: 8px;
	z-index: 5;
	background-color: white;
	border: 0px solid color($colors,light);
	border-radius: 5px;
	-webkit-box-shadow: -1px 4px 23px -9px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
}
.input-filtro{
	max-width: 94%;
	margin-top: 10px;
	margin-left: 8px;
	z-index: 5;
	background-color: white;
	border: 0px solid color($colors,light);
	border-radius: 5px;
	-webkit-box-shadow: -1px 4px 23px -9px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
}
.input-gris{
  max-width: 94%;
  margin-top: 10px;
  margin-left: 8px;
  z-index: 5;
  background-color: color($colors,gris_input);
  border-radius: 5px;
}
.input-gris_2{
  max-width: 98%;
  margin-top: 10px;
  margin-left: 8px;
  z-index: 5;
  background-color: color($colors,gris_input);
  border-radius: 5px;
}
.input_registro_2{
 border-bottom: none;
}
.tamano_icon_menu{
	font-size:60pt;
}

.menu_lateral_move{
	margin-left:-15px;
}
.bar-button-menutoggle-ios ion-icon {
  padding: 0 6px;
  font-size: 5.8rem;
}
.bar-button-menutoggle-md ion-icon {
  padding: 0 6px;
  font-size: 5.8rem;
}
.titulo{
	color:color($colors,light);
}
.color_texto{
	color:color($colors,gris);
}
.perfil_imagen_nombre{
  background:color($colors,white);
  width: 250px;
  height: 69px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.imagen_perfil_menu{
  margin-top:-10px;
  width: 41px;
  height: 41px;
  border-radius: 150px;
}
.espacios{
  margin-top:5px;

}
.cerrar_sesion{
  margin-bottom: 15px;
}

.top-title{
  margin-top: 5px;
  margin-bottom: 0;
}
.image{
  height: 40vh;
  background-position: center;
  background-size: 80vh;
  background-repeat: no-repeat;
}

.imageList{
  height: 18vh;
  background-position: center;
  background-size: 60vh;
  background-repeat: no-repeat;
}

.text-center{
  text-align: center !important;
}

.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}

.pt-5{
  padding-top: 5px !important;
}

.icon{
  vertical-align: middle;
  height: 20px !important;
}

.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}

.button-footer{
  position: fixed;
  top: 88%;
  right: 35%;
  z-index: 99999;
}

.align-middle{
  vertical-align: middle;
}

.text-gray{
  color: #717171 !important;
}

.text-bold{
  font-weight: bold !important;
}

.button-md {
  text-transform: none;
}

ion-select{
  max-width: 100% !important;
}

  .fade{
    height: 30px;
    background: rgba(3,94,163,1);
    background: -moz-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,94,163,1)), color-stop(65%, rgba(57,146,240,1)), color-stop(100%, rgba(57,146,240,1)));
    background: -webkit-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -o-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: linear-gradient(to right, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035ea3', endColorstr='#3992f0', GradientType=1 );
  }
  .separator{
    height: 3px;
    background: rgba(3,94,163,1);
    background: -moz-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,94,163,1)), color-stop(65%, rgba(57,146,240,1)), color-stop(100%, rgba(57,146,240,1)));
    background: -webkit-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -o-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    background: linear-gradient(to right, rgba(3,94,163,1) 0%, rgba(57,146,240,1) 65%, rgba(57,146,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035ea3', endColorstr='#3992f0', GradientType=1 );
  }
    .precio{
    color: white;
    padding-top: 6px;
    font-size: 4vw;
  }
  p.text-blue{
    color: #3992f0 !important;
  }

  .ml-12{
    margin-left: 12px;
  }
  .align-mid{
    margin-top: 75% !important;
  }

  .content{
    height: 100%
  }

  .text-gray1{
    color: #aaaaaa;
  }

  .button-filtro{
    position: fixed;
    top: 15vh;
    right: -5vw;
    z-index: 99999;
  }

  .border-button{
    color: #3992f0;
    border: 2px solid #3992f0;
  }
  .lessMargin{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .pt-8{
    padding-top: 8px;
  }

  .pl-12{
    padding-left: 12px;
  }
  .ml-3{
    margin-left: 3px;
  }
  .padding-horizontal{
  padding-right: 10px;
  padding-left: 10px;
}