<ion-menu *ngIf="pr_login?.user" [content]="content">
	<ion-header no-border>
     <ion-navbar transparent text-center>
      <ion-buttons end>
      <button ion-button icon-only menuClose>
         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>
  <ion-content class="fondo_menu">
    <div class="perfil_imagen_nombre">
    			<ion-grid>
    				<ion-row>
    					<ion-col col-4 text-left>
    						<div padding>
    							<img *ngIf="!imagen" src="assets/imgs/user_default.jpg" alt="" class="imagen_perfil_menu">
                  <img *ngIf="imagen" src="{{pr_rutas.ruta_imagenes}}{{imagen}}" alt="" class="imagen_perfil_menu">
    						</div>
    					</ion-col>
    					<ion-col text-left padding-vertical col-7>
    						<div class="color_texto">
    							<strong>{{nombre}}</strong>
    						</div>
    						<div class="color_azul_claro" (click)="perfil()" menuClose>
    							Editar perfil
    						</div>
    					</ion-col>
    				</ion-row>
    		</ion-grid>
    </div>
    <div class="color_blanco" padding>
    			<ion-grid>
    				<ion-row>
    					<ion-col>
    						<div class="espacios tamano_12pt" menuClose (click)="home()">
    							<strong>Inicio</strong>
    						</div>
    					</ion-col>
    				</ion-row>
    				<ion-row>
    					<ion-col>
    						<div class="espacios tamano_12pt" menuClose (click)="historial_llamadas()">
    							<strong>Historial de llamadas</strong>
    						</div>
    					</ion-col>
    				</ion-row>
    				<ion-row>
    					<ion-col>
    						<div class="espacios tamano_12pt" menuClose (click)="servicios()">
    							<strong>Directorio de servicios</strong>
    						</div>
    					</ion-col>
    				</ion-row>
    				<ion-row>
              <ion-col>
                <div class="espacios tamano_12pt" menuClose (click)="buscar_propiedades()">
                  <strong>Buscar Propiedades</strong>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="espacios tamano_12pt" menuClose (click)="propiedades_favoritas()">
                  <strong>Propiedades en ruta</strong>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="espacios tamano_12pt" menuClose (click)="propiedades_favoritas_2()">
                  <strong>Propiedades favoritas</strong>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
    					<ion-col>
    						<div class="espacios tamano_12pt" menuClose (click)="propiedades()">
    							<strong>Mis Propiedades</strong>
    						</div>
    					</ion-col>
    				</ion-row>
              <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="citas()">
                          <strong>Mis Citas</strong>
                      </div>
                  </ion-col>
              </ion-row>
               <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="citas_pendientes()">
                          <strong>Citas pendientes</strong>
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="mensajes_pendientes()">
                          <strong>Mensajes pendientes</strong>
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="contacto_emergencia()">
                          <strong>Contactos de emergencia</strong>
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="preguntas_frecuentes()">
                          <strong>Preguntas frecuentes</strong>
                      </div>
                  </ion-col>
              </ion-row>
               <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="politicas_privacidad()">
                          <strong>Políticas de privacidad</strong>
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <div class="espacios tamano_12pt" menuClose (click)="cerrar_sesion()">
                          <strong>Cerrar sesion</strong>
                      </div>
                  </ion-col>
                  
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="espacios tamano_12pt" menuClose (click)="home()">
                    <strong>{{myAddress}}</strong>
                  </div>
                </ion-col>
              </ion-row>
    		</ion-grid>
    </div>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
