page-propiedad-favorita-detalle {
	.imagen_inmueble {
  	margin-top: -3%;
  	margin-left: 0px;
  	width: 100%;
  	z-index: -1;
	}
	.tamano_icon_2{
		font-size: 35px;
	}
	.tamano_icon_1{
		font-size: 20px;
	}
	.det_descripcion{
  	margin-left: -17px;
	}
}
