<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Inmueble</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<div class="inmueble">
		<img src="assets/imgs/imagen_inmueble.svg" class="imagen_inmueble">
	<br>
	<div padding-left>
			<ion-grid>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
						<strong>Casa en venta</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-1><ion-icon name="custom-pin" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
					<ion-col> Panamá</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
							<strong>Descripción</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_10pt">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, repellendus harum ex earum iste soluta consequatur aliquam praesentium quisquam, unde veritatis eius beatae provident quibusdam ipsum cumque sit officiis ullam.
						</div>
					</ion-col>
				</ion-row>
				<div class="det_descripcion">
					<ion-row>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-regla_m2" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro"><strong>380m2</strong> Terreno</ion-col>
						</ion-row>
					</ion-col>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-regla_m2" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro"><strong>380m2</strong> Construido</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
				</div>
					<div class="det_descripcion">
					<ion-row>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-cama" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro"><strong>4</strong> Recáramas</ion-col>
						</ion-row>
					</ion-col>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-banio" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro"><strong>5</strong> Baños</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
				</div>
					<div class="det_descripcion">
					<ion-row>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-carrito" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro">&nbsp;<strong>2</strong> Cocheras</ion-col>
						</ion-row>
					</ion-col>
					<ion-col>
						<ion-row>
							<ion-col col-2><ion-icon name="custom-pin" color="azul_oscuro" class="tamano_icon_2"></ion-icon></ion-col>
							<ion-col class="color_azul_oscuro"><strong>380m2</strong> Construido</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
				</div>
				<ion-row>
					<ion-col>
						<div class="color_texto tamano_14pt">
							<strong>Características generales</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
					<ion-col class="color_texto">Cuartos de servicio</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-1><ion-icon name="custom-check" color="azul_oscuro" class="tamano_icon_1"></ion-icon></ion-col>
					<ion-col class="color_texto">Escuelas cercanas</ion-col>
				</ion-row>
		</ion-grid>
		</div>
	</div>
</ion-content>
<ion-footer no-lines>
<button ion-button class="color_degradado_navbar" block full> Contactar</button>
</ion-footer>
