page-cita-agendar {
	.input-dia{
		max-width: 94%;
		margin-top: 10px;
		margin-left: 8px;
		z-index: 5;
		background-color: color($colors,gris_input);
		border-radius: 5px;
	}
	.fecha{
		margin-left:-10px;
	}
}
