<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<br>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Agendar cita</strong>
	</div>
	<div class="color_texto tamano_12pt" padding-left>
		Ingresa los datos necesarios para solicitar la cita al agente
	</div>
	<div>
		<br>
		<div class="color_texto tamano_16pt" padding-left>
		<strong>Datos personales:</strong>
	</div>
		<ion-item no-lines class="input-gris">
			<ion-input type="text" placeholder="Nombre(s)" class="input_registro_2"  [(ngModel)]="usuario.nombre"></ion-input>
		</ion-item>
		<ion-item no-lines class="input-gris">
			<ion-input type="tel" placeholder="Número" class="input_registro_2" [(ngModel)]="usuario.telf"></ion-input>
		</ion-item>
		<ion-item no-lines class="input-gris">
			<ion-input type="text" placeholder="Correo" class="input_registro_2" [(ngModel)]="usuario.login"></ion-input>
		</ion-item>
		<ion-item no-lines class="input-gris">
			<ion-input type="text" placeholder="Comentario" class="input_registro_2" [(ngModel)]="datos_guardar.comentario"></ion-input>
		</ion-item>
		<br>
			<div class="color_texto tamano_16pt" padding-left>
			<strong>Fecha:</strong>
		</div>
		<div class="fecha">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD/MM/YYYY" [min]="fecha" max="2030-12-31" cancelText="Cancelar" doneText="Aceptar" placeholder="DD-MM-YYYY" class="input_registro_2" [(ngModel)]="datos_guardar.fecha"></ion-datetime>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div class="color_texto tamano_16pt" padding-left>
			<strong>Hora:</strong>
		</div>
		<div class="fecha">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item no-lines class="input-gris">
							<ion-datetime displayFormat="HH:mm" [min]="hora" pickerFormat="HH:mm" max="23:59" placeholder="HH:MM"[(ngModel)]="datos_guardar.hora"  cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
						</ion-item>
					</ion-col>
					<ion-col>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
<ion-footer no-border>
	<button ion-button block full class="color_degradado_navbar" (click)="guardar()">Agendar cita</button>
</ion-footer>
