<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Chat</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding class="color_menu">
			<ion-grid>
				<div *ngFor="let item of mensajes">
					<ion-row>
							<ion-col col-9 *ngIf="item.envia.id != user?.id" class="message my_message">
			        	<span class="user_name">{{ item.envia.name }}:</span><br>
			        	<span><strong>{{ item.mensaje }}</strong></span>
		      		</ion-col>
				      <ion-col offset-3 col-9 *ngIf="item.envia.id == user?.id" class="message other_message">
				        <span class="user_name">{{ item.envia.name }}:</span><br>
				        <span><strong>{{ item.mensaje }}</strong></span>
				      </ion-col>
					</ion-row>
				</div>
		</ion-grid>
</ion-content>
<ion-footer class="toolbar_msg">
	<ion-toolbar>
			<ion-row>
				<ion-col col-9>
					<ion-input type="text"  [(ngModel)]="mensaje" placeholder="Escriba su mensaje"></ion-input>
				</ion-col>
				<ion-col col-3>
					<button ion-button clear (click)="enviar_mensaje()">Enviar</button>
				</ion-col>
			</ion-row>
	</ion-toolbar>
</ion-footer>
