<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Historial de llamadas</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row> 
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_14pt" padding-left>
		<strong>Historial de llamadas</strong>
	</div>
	<div padding class="content" *ngIf="!llamadas?.length">
			<h1 class="text-gray1 align-mid text-center">Aun no tienes historial de llamadas</h1>
		</div>
<div *ngFor="let item of llamadas">
	<ion-card padding>
		<ion-grid>
			<ion-row>
				<ion-col col-3 text-center>
					<img src="assets/imgs/user_default.jpg" alt="" class="imagen_logo_contactar">
				</ion-col>
				<ion-col padding-vertical>
					<div class="color_texto tamano_12pt">
						<strong>{{item.called?.name}}</strong>
					</div>
					<div class="color_texto tamano_10pt">
						<strong>{{item.fecha |date:'dd/MM/yyyy'}}</strong>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
			<div class="llamar">
				<ion-grid>
				<ion-row>
					<ion-col col-2>
					</ion-col>
					<ion-col>
						<button ion-button color="verde_limon" ion-end (click)="llamar(item)">Volver a llamar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<ion-icon name="custom-llamar" class="tamano_icon"></ion-icon>
						</button>
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
		</ion-grid>
			</div>
			<br>
			<br>
			<br>
	
</div>
</ion-content>
