<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_16pt">
		<strong>Directorio de servicios</strong>
	</div>
<ion-card>
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<img src="assets/imgs/user_default.jpg" class="imagen_logo">
			</ion-col>
			<ion-col text-left>
				<div class="color_texto tamano_12pt">
					<strong>Arquitectos y más</strong>
				</div>
					<div class="color_texto tamano_10pt">
						Casa en Paraná 123
				</div>
				<div class="color_texto tamano_10pt">
					<strong>lo que sea</strong>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-card>
<div class="boton">
		<ion-grid>
			<ion-row>
				<ion-col col-6>		
				</ion-col>
				<ion-col text-right>
					<button ion-button block color="azul_claro" small>Ver detalles</button>
				</ion-col>
				<ion-col col-1>		
				</ion-col>
			</ion-row>
	</ion-grid>
</div>
<ion-card>
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<img src="assets/imgs/user_default.jpg" class="imagen_logo">
			</ion-col>
			<ion-col text-left>
				<div class="color_texto tamano_12pt">
					<strong>Arquitectos y más</strong>
				</div>
					<div class="color_texto tamano_10pt">
						Casa en Paraná 123
				</div>
				<div class="color_texto tamano_10pt">
					<strong>lo que sea</strong>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-card>
<div class="boton">
		<ion-grid>
			<ion-row>
				<ion-col col-6>		
				</ion-col>
				<ion-col text-right>
					<button ion-button block color="azul_claro" small>Ver detalles</button>
				</ion-col>
				<ion-col col-1>		
				</ion-col>
			</ion-row>
	</ion-grid>
</div>
</ion-content>
