<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Contacto de emergencia</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<div padding>	
		<div class="tamano_16pt color_texto">
			<strong>Agregar Contacto</strong>
		</div>
		<div class="tamano_12pt color_texto" wrap>
			Llena los campos para agregar un contacto de emergencia
		</div>
		<br>
	</div>
	<div>
		<ion-grid>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Nombre" class="input_registro_2"  [(ngModel)]="data_cliente.nombre"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="tel" placeholder="Telefono" class="input_registro_2" [(ngModel)]="data_cliente.telf"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-item class="input-registro" no-lines>
								<ion-input type="text" placeholder="Email" class="input_registro_2" [(ngModel)]="data_cliente.email"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
			</ion-grid>
	</div>
</ion-content>
<ion-footer>
	<button ion-button class="color_degradado_navbar" full block (click)="guardar_contacto()">Guardar contacto</button>
</ion-footer>
