page-det-inmueble {
	.imagen_inmueble {
  	margin-top: -3%;
  	margin-left: 0px;
		object-fit: cover;
  	width: 100vw;
  	height: 33vh;
  	z-index: -1;
	}
	.compartir_corazon{
		position: absolute;
		top: 1vh;
		left: 83vw;
		z-index: 1;
	}
	.subir{
		margin-top: -2.2vh;
	}
	#map_canvas{
    display: block;
    height:  28%;
    width: 100%;
  }
	.id_inmueble{
		top: -0.5vh;
		left:14vw;
    position: absolute;	
	}
	.pin_direccion{
		margin-left:-3vw;
	}
	.tamano_icon_2{
		font-size: 35px;
	}
	.text-icon{
		margin-left: 5px;
	}
	.tamano_icon_1{
		font-size: 20px;
	}
	.det_descripcion{
  	margin-left: -17px;
	}
	.imagen_inmueble{
		height:400px ;
		max-height: none;
	}

	.precio{
		top: -0.5vh;
    position: absolute;
		padding-top: 16px;
		height: 40px;
	}

	.firstText{
		margin-top: 15px;
	}


}
