<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<br>
<div padding-left>
	<div class="color_azul_oscuro tamano_16pt ">
	<strong>Felicidades</strong>
</div>
<div class="color_texto tamano_14pt">
	La peticion de cita se envió correctamente, espere a que el agente confirme la cita
</div>
</div>
<br>
<ion-grid>
	<ion-row>
		<ion-col col-2></ion-col>
		<ion-col col-8>
			<button ion-button color="primary" block (click)="ir_home()">Ir a Home</button>	
		</ion-col>
		<ion-col col-2></ion-col>
	</ion-row>
</ion-grid>
<div >
	<img src="assets/imgs/imagen_felicitacion.svg" class="imagen_felicitacion">
</div>

</ion-content>
