<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Contactos de emergencia</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngFor="let item of contacto_emergencia">
		<ion-card>
			<ion-grid>
					<ion-row>
						<ion-col col-3  padding-vertical>
						<img src="assets/imgs/user_default.jpg" alt="" class="imagen_logo_contactar">
						</ion-col>
						<ion-col padding-vertical>
							<div class="color_texto tamano_16pt">
								<strong>{{item.nombre}}</strong>
							</div>
							<div class="tamano_12pt" >
								<p class="text-blue">{{item.email}}</p>
							</div>
							<div class="tamano_12pt" >
								<p class="text-blue">{{item.telefono}}</p>
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col><button ion-button block (click)="editar(item)" color="secondary">Editar</button></ion-col>
						<ion-col><button ion-button block (click)="eliminarContacto(item)" color="danger">Eliminar</button></ion-col>
					</ion-row>
			</ion-grid>
		</ion-card>
		</div>
</ion-content>
<ion-footer>
<button ion-button block class="color_degradado" (click)="agregar_contacto()">Agregar Contacto</button>
</ion-footer>
