page-cita-detalle {
	.tamano_icon_2{
		font-size: 22px;
	}
	.compartir{
		width: 50px;
		height: 50px;
		border-radius: 150px;
		margin-top: -36px;
		margin-left: 48px;
		background-color:color($colors,white);
		box-shadow: -1px 4px 23px -5px rgba(0, 0, 0, 0.75);
	}
	.botones{
		margin-top: -36px;
	}
	.llamar{
		margin-top: -50px;
	}
	.texto_cancelar_sos{
		margin-top: 10vh;
		margin-left:15vw;
	}
	.imagen_sos{
		max-width: 126%;
	}
	.sin_sombra{
		box-shadow: 0px 3px 11px -8px rgba(0, 0, 0, 0.80);
		width: 75px;
	}
	.imagen_logo_contactar{
		width: 50px;
		height: 50px;
		border-radius: 150px;
	}
	.share{
		margin-left: 45px;
		border-radius: 159px;
		padding: 15px 13px;
		background-color: white;
		height: 50px;
		width: 50px;
		-webkit-box-shadow: 1px 1px 35px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 35px -6px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 35px -6px rgba(0,0,0,0.75);
	}
	.botones_llamar_mensaje{
		margin-top: 2vh;
		margin-left: 4vw;
	}
	.imagen_logo_contactar{
		width: 60px;
		height: 60px;
		border-radius: 150px;
	}

	.up-8{
		margin-top: -8px;
	}

	.image-bottom{
		width: 60px;
		height: 50px;
	}

	.inline-block{
		display: inline-block;
    width: 75px;

	}
}
