<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
		<div class="titulo" align="center"><strong>Detalle de cita</strong></div>
		<ion-buttons end>
			<button ion-button icon-only (click)="atras()">
				<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-card padding class="caja_caja">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_14pt">
						<strong>Detalle de la cita</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<strong>Dirección</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<ion-icon name="custom-pin" class="tamano_icon_2" color="danger"></ion-icon>{{cita?.inmueble.direccion}}
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<strong>Fecha</strong>
					</div>
				</ion-col>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<strong>Hora</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<ion-icon name="custom-calendario" class="tamano_icon_2" color="azul_oscuro"></ion-icon> {{cita?.fecha}}
					</div>
				</ion-col>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<ion-icon name="custom-hora" class="tamano_icon_2" color="azul_oscuro"></ion-icon> {{cita?.hora}}
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<br>
	</ion-card>
	<div class="botones">
		<ion-grid>
			<ion-row>
				<ion-col col-1></ion-col>
				<ion-col text-center (click)="trazar_ruta()">
					<button ion-button small color="azul_claro" block><strong>Trazar ruta</strong></button>
				</ion-col>
				<ion-col text-center class="up-8">
					<div class="share">
						<ion-icon name="md-share" color="azul_oscuro"></ion-icon>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-card padding class="caja_caja">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_14pt">
						<strong>Contacto</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-3 text-center>
					<img *ngIf="!cita?.socio.image" src="assets/imgs/user_default.jpg" alt="" class="imagen_logo_contactar">
					<img *ngIf="cita?.socio.image" src="{{pr_rutas.ruta_imagenes}}{{cita?.socio.image}}" alt="" class="imagen_logo_contactar">
				</ion-col>
				<ion-col padding-vertical>
					<div class="color_texto tamano_12pt">
						<strong>{{cita?.socio.name}}</strong>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	<div class="llamar">
		<ion-grid>
			<ion-row class="botones_llamar_mensaje">
				<ion-col col-1>
					&nbsp;
				</ion-col>
				<ion-col col-4 (click)="enviar_mensaje()">
					<button ion-button color="azul_claro" small block ion-end><strong>Mensaje</strong></button>
				</ion-col>
				<ion-col col-1>
					&nbsp;
				</ion-col>
				<ion-col col-4>
					<button ion-button color="verde_limon" small block ion-end (click)="llamar()"><strong>Llamar</strong>
					</button>
				</ion-col>
				<ion-col col-1>
					&nbsp;
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<br>
	<br>
	<br>
	<ion-grid>
		<ion-row>
			<ion-col *ngIf="cita?.status?.id != 5" col-6>
				<ion-row justify-content-center>
					<ion-col col-12 text-center>
						<div  class="inline-block">
							<button (click)="cancelarCita()" ion-fab color="white" class="sin_sombra">
							<img src="assets/imgs/cancelar.png" class="image-bottom" >
						</button>
						</div>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<h6>
						Cancelar
					</h6>
				</ion-row>
			</ion-col>
			<ion-col col-6 (click)="enviar_email_contacto_emergencia()">
				<ion-row justify-content-center>
					<ion-col col-12 text-center>
						<div class="inline-block">
							<button ion-fab color="white" class="sin_sombra">
							<img src="assets/imgs/sos.png" class="image-bottom" >
						</button>
						</div>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<h6>
						S.O.S
					</h6>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
