<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Buscar propiedad</strong></div>
			</ion-col>
			<ion-col col-2>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>
<ion-content>

	<div id="map_canvas"></div>
	<div class="button-footer" >
		<button (click)="ver_lista()" ion-button round color="azul_oscuro"><ion-icon name="list-box"></ion-icon>&nbsp;&nbsp;&nbsp;Lista</button>
	</div>
	<div class="footer_seleccion_mapa" id="mapa_2" padding [ngStyle]="{display: muestra}">
		<div class="veterinaria tamano_12pt">
			<strong>{{nombre_propiedad}}</strong>
		</div>
		<div class="">
			{{direccion}}
		</div>
		<div align="center" class="mas_info">
			<button ion-button round color="color_boton_login" small (click)="get_det_inmueble(item)">Más info</button>
		</div>
	</div>

</ion-content>