<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Citas</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row> 	 
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div padding class="content" *ngIf="!citas?.length">
		<h1 class="text-gray1 align-mid text-center">Aún no haz agendado ninguna cita</h1>
	</div>
	<ion-card class="caja_caja caja_pequena" padding *ngFor="let item of citas">
		<ion-grid (click)="ver_cita(item)">				
			<ion-row>
				<ion-col>
					<div class="color_texto tamano_10pt">
						<strong>{{item.socio.name}}</strong>
					</div>
				</ion-col>
			</ion-row>
			<ion-row  class="direccion_dia">
				<ion-col col-1><ion-icon name="custom-pin" color="danger" class="tamano_icon"></ion-icon></ion-col>
				<ion-col text-left>&nbsp;&nbsp;&nbsp;{{item.inmueble.direccion}}</ion-col>
			</ion-row>
			<ion-row class="direccion_dia">
				<ion-col col-1>
					<ion-icon name="custom-calendario" color="azul_claro" class="tamano_icon"></ion-icon>
				</ion-col>
				<ion-col col>
					&nbsp;&nbsp;&nbsp;&nbsp;{{item.fecha| date:'dd/MM/yyyy'}}
				</ion-col>
				<ion-col col-1>
					<ion-icon name="custom-hora" color="azul_claro" class="tamano_icon"></ion-icon>
				</ion-col>
				<ion-col>
					&nbsp;&nbsp;&nbsp;&nbsp;{{item.hora | date:'shortTime'}}
				</ion-col>
			</ion-row>
			<ion-row>
				<div >
					<ion-col>
						<div class="color_azul_claro tamano_12pt subir" >
							<strong>{{item.status.status}}</strong>
						</div>
					</ion-col>
				</div>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
