<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong>Contactar</strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<br>
<div class="color_texto tamano_16pt" padding-left>
	<strong>Contactar a:</strong>
</div>
	<div padding>
		
		<ion-card class="caja_caja">
			<ion-grid>
			<ion-row>
				<ion-col col-3>
					<img *ngIf="!det_inmueble.imagen" src="assets/imgs/user_default.jpg" alt="" class="imagen_logo_contactar">
          <img *ngIf="det_inmueble.imagen" src="{{pr_rutas.ruta_imagenes}}{{det_inmueble.imagen}}" alt="" class="imagen_logo_contactar">
				</ion-col>
				<ion-col col-8 text-left>
					<div class="color_texto tamano_16pt" >
						<strong>{{det_inmueble.nombre_empresa_asociada}}</strong>
					</div>
					<div class="color_texto tamano_12pt" >
						<strong>{{det_inmueble.nombre_usuario}}</strong>
					</div>
					<div class="color_texto tamano_12pt">
						{{det_inmueble?.direccion?.substr(0,caracteres_mostrar)}}
					</div>

				</ion-col>
			</ion-row>
			</ion-grid>
		</ion-card>
		<br>
		<ion-card class="caja_caja">
				<ion-grid>
					<ion-row>
					<ion-col>
						<div class="color_texto tamano_16pt">
							&nbsp;&nbsp;<strong>Enviar mensaje</strong>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item class="input-gris">
							<ion-input type="text" placeholder="Nombre(s)" class="input_registro_2"  [(ngModel)]="data_inmueble.nombre"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item class="input-gris">
							<ion-textarea type="text" placeholder="Mensaje" class="input_registro_2" rows="4" [(ngModel)]="data_inmueble.mensaje"></ion-textarea>
						</ion-item>
					</ion-col>
				</ion-row>
				</ion-grid>
			<br>
		</ion-card>
			<div class="botonera">
					<ion-grid>
						<ion-row>
							<ion-col col-2></ion-col>
							<ion-col text-center><button ion-button block icon-end color="azul_marino" (click)="enviar_mensaje_push()">
								<div align="left">
									<strong>Enviar mensaje &nbsp;&nbsp;&nbsp;</strong>
								</div>
								<ion-icon name="custom-mensaje" class="tamano_icon_2"></ion-icon>
							</button></ion-col>
							<ion-col col-2 ></ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-2></ion-col>
							<ion-col text-center (click)="llamar()">
								<button ion-button  block icon-end color="verde_limon"><strong>Llamar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
									<ion-icon name="custom-llamar" class="tamano_icon_2"></ion-icon>
								</button>
							</ion-col>
							<ion-col col-2></ion-col>
						</ion-row>
						<ion-row (click)="agendar_cita_cliente_agente()">
							<ion-col col-2></ion-col>
							<ion-col text-center>
								<button ion-button  block icon-end >
									<strong>Agendar cita &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
									<ion-icon name="custom-cita" class="tamano_icon_2"></ion-icon>
								</button>
							</ion-col>
							<ion-col col-2></ion-col>
						</ion-row>
					</ion-grid>
			</div>
	</div>


</ion-content>
