page-servicio-lista {
	.imagen_logo{
		margin-top: 0px;
		margin-left:0px;
		max-width: 80%;
	}
	.boton{
		margin-top: -38px;
	}
		button.item-cover{
		border: 2px solid #035ea3;
	}
	.blue{
		background-color: white;
	}
}
