<ion-header>
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<ion-row>
			<ion-col col-2>
				<button ion-button clear menuToggle> 
					<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
				</button>
			</ion-col>
			<ion-col col-8>
				<div class="titulo pt-5" align="center"><strong>Directorio de servicios</strong></div>
			</ion-col>
			<ion-col col-2>
				<ion-buttons end>
					<button ion-button icon-only (click)="atras()">
						<ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_16pt">
		<strong>Directorio de servicios</strong>
	</div>
	<ion-item  class="input-gris blue" no-lines>
		<ion-select placeholder="Seleccione una categoria " (ionChange)="getServicios()"  class="select_wide"  [(ngModel)]="id_categoria" >
			<div *ngFor="let item of categorias_servicios">
				<ion-option value="{{item.id}}">{{item.categoria}}</ion-option>
			</div>
		</ion-select>							
	</ion-item>
	<h3 *ngIf="message">{{message}}</h3>
	<div *ngFor="let item of servicio">
		<div *ngIf="item.categoria?.id == id_categoria">
			<ion-card class="caja_caja">
				<ion-grid>
					<ion-row>
						<ion-col text-center>
							<img src="{{ servicio.imagen ? ruta_imagenes + servicio.imagen : 'assets/imgs/imagen_inmueble.svg'}}" class="imagen_logo">
						</ion-col>
						<ion-col text-left>
							<div class="color_texto tamano_12pt">
								<strong>{{item.empresa}}</strong>
							</div>
								<div class="color_texto tamano_10pt">
									{{(item.direccion.length>20)? (item.direccion | slice:0:20)+'...':(item.direccion) }}
							</div>
							<div class="color_texto tamano_10pt">
								<strong>{{(item.descripcion.length>25)? (item.descripcion | slice:0:25)+'...':(item.descripcion) }}</strong>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card>
			<div class="boton">
					<ion-grid>
						<ion-row>
							<ion-col col-6>		
							</ion-col>
							<ion-col text-right>
								<button ion-button block color="azul_claro" small (click)="get_det_servicio(item)"><strong>Ver detalles</strong></button>
							</ion-col>
							<ion-col col-1>		
							</ion-col>
						</ion-row>
				</ion-grid>
			</div>
		</div>
	</div>
<!-- <ion-card>
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<img src="assets/imgs/user_default.jpg" class="imagen_logo">
			</ion-col>
			<ion-col text-left>
				<div class="color_texto tamano_12pt">
					<strong>Arquitectos y más</strong>
				</div>
					<div class="color_texto tamano_10pt">
						Casa en Paraná 123
				</div>
				<div class="color_texto tamano_10pt">
					<strong>lo que sea</strong>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-card> 
<div class="boton">
		<ion-grid>
			<ion-row>
				<ion-col col-6>		
				</ion-col>
				<ion-col text-right>
					<button ion-button block color="azul_claro" small>Ver detalles</button>
				</ion-col>
				<ion-col col-1>		
				</ion-col>
			</ion-row>
	</ion-grid>
</div>
-->
</ion-content>
