<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="color_texto tamano_16pt" padding-left>
		<strong>Agrega una tarjeta</strong>
	</div>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item class="input-registro" no-lines>
						<ion-input type="text" placeholder="Nombre según tarjeta" class="input_registro_2"  [(ngModel)]="data_tarjeta.nombre"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="input-registro" no-lines>
						<ion-input type="tel" maxlength="16" placeholder="Numero de tarjeta" class="input_registro_2"  [(ngModel)]="data_tarjeta.num_tajeta"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="input-registro" no-lines>
						<ion-datetime displayFormat="MM-YY"  min="1989-06-04" max="2031-12-31" placeholder="Seleccione año de vencimiento" [(ngModel)]="data_tarjeta.anio"></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="input-registro" no-lines>
						<ion-input type="tel" maxlength="4" placeholder="CCV" class="input_registro_2"  [(ngModel)]="data_tarjeta.ccv"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<button ion-button full class="color_degradado" (click)="guardar_tarjeta()"> Guardar tarjeta</button>
</ion-footer>
