<ion-header >
	<ion-navbar transparent hideBackButton class="color_degradado_navbar">
		<button ion-button clear menuToggle> 
			<ion-icon name="custom-menu_lateral" color="light" class="tamano_icon_menu menu_lateral_move"></ion-icon> 
		</button>
 	 	 <div class="titulo" align="center"><strong></strong></div>
    <ion-buttons end>
		      <button ion-button icon-only (click)="atras()">
		         <ion-icon name="custom-triangulo_lado" color="light"></ion-icon>
		      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	 <div id="map_canvas"></div>
	 <div class="footer_seleccion_mapa" id="mapa_2" padding [ngStyle]="{display: muestra}">
				<div align="center" class="mas_info">
					<ion-segment [(ngModel)]="relationship" color="primary" > <!-- (ionChange)="segmentChanged($event)" -->
						<ion-segment-button value="friends">
						Friends
						</ion-segment-button>
						<ion-segment-button value="enemies">
						Enemies
						</ion-segment-button>
					</ion-segment>
				</div>
		</div>
</ion-content>
