page-mapa-inmuebles {
  #map_canvas{
    display: block;
    height:  100%;
    width: 100%;
  }
  .footer_seleccion_mapa{
    max-width: 94%;
    position: absolute;
    top: 88%;
    left:  4%;
    height: 93px;
    width: 341px;
    z-index: 5;
  }
  .segment-ios .segment-button:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    margin-right: 0;
	}
	.segment-ios .segment-button:last-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    margin-right: 0;
	}
}
